<section class="landing-container">
    <h1>Bienvenido a la Central de Superhéroes</h1>
    <p>Gestiona tu base de datos de héroes de forma rápida y sencilla.</p>
    
    <div class="card-wrapper">
        <!-- Card para Listado -->
        <article class="card">
            <h3>Ver Listado</h3>
            <p>Explora todos los superhéroes registrados en el sistema.</p>
            <a href="/heroes" class="btn btn-dark">Ir al Dashboard</a>
        </article>

        <!-- Card para Agregar -->
        <article class="card">
            <h3>Nuevo Héroe</h3>
            <p>¿Apareció un nuevo vigilante? Regístralo aquí.</p>
            <a href="/heroes/agregar" class="btn btn-success">Agregar Héroe</a>
        </article>
    </div>
</section>