<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto de Superhéroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <main style="padding: 20px;">
        <%- body %> <!-- Aquí se inyectará dashboard, add o edit -->
    </main>

    <%- include('partials/footer') %>
</body>
</html>