<header class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo-link">
            <div class="nav-logo">GMPM<sup>®</sup></div>
        </a>
        <nav class="nav-menu">
            <a href="/">Home</a>
            <a href="/paises">Dashboard</a>
            <a href="/paises/agregar">Nuevo País</a>
        </nav>
    </div>
</header>