
<header class="navbar">
    <div class="nav-container">
        <div class="nav-logo">GMPM<sup></sup></div>
        <nav class="nav-menu">
            <a href="/">Home</a>
            <a href="/heroes">Lista</a>
            <a href="/heroes/agregar">Nuevo</a>
            <a href="#">Service</a>
        </nav>
    </div>
</header>